.containterr {
    grid-area: redes;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #998774;
    border-radius: 1cm;
    font-size: 30px;
    z-index: 1;
 
 }
 
 .redes a {
 
    display: block;
    text-decoration: none;
    color: #1D2526;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    margin: 5px;
 
 }

 .videomedia {
     border-radius: .7cm;
 }