$colores: (
    $bg-color-primary : #998774);
    
$color-secundary : #1D2526;

$size: (width: 55px,
    height: 55px,);

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

$widh: map-get($size, width);
$colores : map-get ($colores, $bg-color-primary);
 


a:hover {
    cursor: pointer;
}

.redes a {
    display: block;
    text-decoration: none;
    color: $color-secundary;
    width: $widh;
    height: 55px;
    line-height: 55px;
    text-align: center;
    margin: 5p;
}

.containterr {
    grid-area: redes;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: $colores;
    border-radius: 1cm;
    font-size: 30px;
    z-index: 1;
}