$bg-color-primary : #7e5d20d0;
$color-secundary : #1D2526;

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


a:hover {
    cursor: pointer;
}

.redes a {
    display: block;
    text-decoration: none;
    color: $color-secundary;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    margin: 5p;

}

.containterr {
    grid-area: redes;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: $bg-color-primary;
    border-radius: 1cm;
    font-size: 30px;
    z-index: 100000;
}


.carousell {
    width: 100%; 
    height: 500px;}


.carritoDeCompras {
        background-color: $bg-color-primary;
    }

.carritoDeCompras :hover{
        background-color: #ffffff;
        transition: .5s;
    }    

.subrayado {
    text-decoration: none;
}

.aCarrito {background-color:#998774};
