@import "tipografia";
@import "estructura";


#galeria img {
    width: 100%;
}

#galeria .col-lg-4 {
  padding: 10px
}

.imagenes_bordes {
    border-radius: 1cm;
}

.videomedia {
    border-radius: .7cm;
}

