@import "tipografia";
@import "estructura";

@mixin animaciones {
    transform: translateY(-8px);
    transition: 1s;
}

#galeria img {
    width: 100%;
}

#galeria .col-lg-4 {
    padding: 10px
}

.imagenes_bordes {
    border-radius: 1cm;
}

.videomedia {
    border-radius: .7cm;
}
 
.containterr:hover {
    @include animaciones()
}

#menu:hover {
    @include animaciones()
}

.fondo:hover {
    background-color: rgba(208, 209, 124, 0.315);
    border-radius: 5cm;
    transition: 1s;
}

